body h1{
    color: rgb(0, 0, 0);
    
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 120px;
    
}
body{
    background-color: rgb(255, 255, 255);
display: flex;
}
#nm{
margin-left: 250px;

width: 480px;
height: 500px;


}
#n{
    margin-left: 240px;

    width: 540px;
    height: 500px;
}

